[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
fastapi = "*"
gunicorn = "*"
databases = {extras = ["postgresql"], version = "*"}
psycopg2 = "*"
uvicorn = "*"
sqlalchemy = "*"
fastapi-sqlalchemy = "*"

[requires]
python_version = "3.9"
